.navbar {
    text-align: center;
    display: flex;
    padding: 2.4rem 1.2rem;
    align-items: center;
    background-color: var(--main-color-lightest);

    &__links {
        display: flex;
        list-style: none;
        gap: 1.2rem;
        font-weight: 600;
        font-size: 1.2rem;
        margin-right: 4.8rem;

    }

    &__link {

        & > * {
            text-decoration: none;
            color: var(--gray-8);
        }
    }

    &__name {
        font-size: 2.4rem;

    }

    &__btn {
        text-align: end;
        margin-left: auto;
    }
}