.heading-primary {
    font-size: 6rem;
    font-weight: 400;
    line-height: 1.15;
    text-shadow: .2rem .5rem .4rem rgba(0, 0, 0, 0.2);
}

.heading-secondary {
    font-size: 3rem;
    font-weight: 400;
}